<div class="input-card">
    <div class="titles">
        <h3>Pesquisa no acervo:</h3>
        <h3>Refine sua busca:</h3>
    </div>
    <div class="inputs">
        <div class="search-box-container">
            <app-search-box [(searchQuery)]="query"/>
        </div>
        <div class="select-container">
            <app-select
                name="author"
                label="Autor"
                placeholder="Todos"
                [disabled]="authorSelectorDisabled"
                [options]="authorOptions"
                [(ngModel)]="filters.author"
            />
        </div>
        <div class="select-container">
            <app-select
                name="categories"
                label="Categoria"
                placeholder="Todas"
                [multiple]="true"
                [disabled]="categoriesSelectorDisabled"
                [options]="categoriesOptions"
                [(ngModel)]="filters.categories"
            />
        </div>
        <div class="select-container">
            <app-select
                name="publisher"
                label="Editora"
                placeholder="Todas"
                [disabled]="publisherSelectorDisabled"
                [options]="publisherOptions"
                [(ngModel)]="filters.publisher"
            />
        </div>
        <div class="select-container">
            <app-select
                name="format"
                label="Formato"
                placeholder="Todos"
                [disabled]="formatSelectorDisabled"
                [options]="formatOptions"
                [(ngModel)]="filters.format"
            />
        </div>
        <div class="buttons-container">
            <app-button
                variant="secondary"
                [disabled]="disabled"
                (click)="handleReset()"
            >
                Redefinir
            </app-button>
            <app-button
                variant="secondary"
                [disabled]="disabled"
                (click)="handleSearch()"
            >
                Pesquisar
            </app-button>
        </div>
    </div>
</div>
