.side-menu-container {
    height: 100%;
    padding-top: 5rem;
    position: fixed;
    z-index: 1;
    background: linear-gradient(0deg, rgba(251, 187, 73, 0.08), rgba(251, 187, 73, 0.08)), #1f1b16;
    font-size: 2rem;
    transition: transform 0.3s ease-out;
}

.side-menu-hidden {
    transform: translate(-100%);
}

.side-menu-visible {
    transform: translate(0);
}

.side-menu-container ul {
    list-style: none;
}

.side-menu-item {
    color: #eae1d9;
    line-height: 1.25em;
    cursor: pointer;
}

.side-menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.side-menu-item:not(:last-child) {
    border-bottom: 1px solid #4e4539;
}

.side-menu-item-selected {
    background-color: #4e4539;
    position: relative;
    cursor: default;
}

.side-menu-item-selected a:hover {
    background-color: #4e4539;
    cursor: default;
}

.side-menu-item a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.8em 4em 0.8em 1em;
    text-decoration: none;
}

.side-menu-item a:visited {
    color: inherit;
}
