.header-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #432c00;
    position: fixed;
    top: 0;
    z-index: 2;
}

.header-menu-button {
    padding: 0.25rem;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}
  
.header-container h1 {
    margin: 0 auto;
    font-size: 3.5rem;
    font-weight: normal;
    color: #fff;
    user-select: none;
}
