<div class="page-container">
    <div class="header">
        <h2>Empréstimos</h2>
        <app-button>
            <div class="add-button" (click)="showLoanDialog = true">
                <img src="assets/add_icon.svg" alt="novo"/>
                <span>Novo empréstimo</span>
            </div>
        </app-button>
    </div>
    <app-loan-inputs/>
    <app-table-card>
        <thead>
            <tr>
                <th>Leitor</th>
                <th>Tel Contato</th>
                <th>Obra</th>
                <th>Data empréstimo</th>
                <th>Duração</th>
                <th>Data devolução</th>
                <th>Dias restantes</th>
                <th>Atrasado</th>
                <th>Renovação</th>
            </tr>
        </thead>
        <app-table-status
            *ngIf="loansLoading || errorLoading || loans.length === 0; else loansData"
            [loading]="loansLoading"
            [error]="errorLoading"
            [message]="statusMessage"
        />
        <ng-template #loansData>
            <tbody>
                <tr
                    *ngFor="let loan of loans; index as index"
                    (click)="handleRowClick($event, index)"
                >
                    <td>{{loan.reader}}</td>
                    <td>{{loan.phone}}</td>
                    <td>{{loan.bookTitle}}</td>
                    <td>{{loan.startDate}}</td>
                    <td>{{loan.duration}}</td>
                    <td>{{loan.endDate}}</td>
                    <td>{{loan.daysRemaining}}</td>
                    <td>{{loan.late}}</td>
                    <td>{{loan.renew}}</td>
                </tr>
            </tbody>
        </ng-template>
    </app-table-card>
    <app-context-menu
        *ngIf="showContextMenu"
        [loanVariant]="true"
        [position]="contextMenuPosition"
        (menuClose)="handleContextMenuClose($event)"
    />
    <app-dialog *ngIf="finishDialogState">
        <app-state-dialog
            [variant]="finishDialogState.variant"
            [heading]="finishDialogState.heading"
            [message]="finishDialogState.message"
            [detailsSummary]="finishDialogState.summary"
            [detailsContent]="finishDialogState.details"
            [buttonLabels]="finishDialogState.buttonLabels"
            (dialogClose)="handleFinishDialogClose($event)"
        />
    </app-dialog>
    <app-loan-dialog
        *ngIf="showLoanDialog"
        [indexToUpdate]="clickTargetIndex"
        (dialogClose)="handleLoanDialogClose()"
    />
</div>
