@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    background-color: #CDC5BD;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

body {
    min-width: 800px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-corner {
    display: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}

.click-ripple-effect {
    background-color: rgba(255, 255, 255, 0);
    background-position: center;
    transition: background 0.5s;
}

.click-ripple-effect:hover {
    background: rgba(255, 255, 255, 0.1) radial-gradient(circle, transparent 1%, rgba(255, 255, 255, 0.1) 1%) center/15000%;
}

.click-ripple-effect:active {
    background-color: rgba(255, 255, 255, 0.2);
    background-size: 100%;
    transition: background 0s;
}

.click-ripple-effect-light {
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    transition: background 0.5s;
}

.click-ripple-effect-light:hover {
    background: rgba(0, 0, 0, 0.1) radial-gradient(circle, transparent 1%, rgba(0, 0, 0, 0.1) 1%) center/15000%;
}

.click-ripple-effect-light:active {
    background-color: rgba(0, 0, 0, 0.2);
    background-size: 100%;
    transition: background 0s;
}
