.collection-page {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    margin-top: 5rem;
    padding: 2rem 4rem;
    height: calc(100vh - 5rem);
}

.collection-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.collection-header h2 {
    font-size: 2.8rem;
    font-weight: 500;
    color: #372F24;
    flex: 0;
}

.collection-add-button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.4rem;
}

.collection-add-button img {
    width: 1.5rem;
    height: 1.5rem;
}

.collection-input-card {
    display: flex;
    flex-flow: column nowrap;
    padding: 1.5rem;
    background: linear-gradient(0deg, rgba(126, 87, 0, 0.05), rgba(126, 87, 0, 0.05)), #FFFBFF;
    box-shadow: 0px 2.32778px 4.65556px rgba(0, 0, 0, 0.3), 0px 4.65556px 13.9667px 4.65556px rgba(0, 0, 0, 0.15);
    border-radius: 1.75rem;
    flex: 0;
}

.collection-input-titles {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 0.5rem 1.5rem;
}

.collection-input-titles h3:nth-child(2) {
    margin: auto;
}

.collection-inputs {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    gap: 1.2rem 1.2rem;
    padding: 1.5rem;
}

.collection-search-box-container {
    flex: 2 1;
    max-width: 30rem;
}

.collection-select-container {
    flex: 1 1;
    max-width: 15rem;
}

.collection-button-container {
    flex: 0;
}

.collection-table-container {
    flex: 1;
}