.loans-page {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    margin-top: 5rem;
    padding: 2rem 4rem;
    height: calc(100vh - 5rem);
}

.loans-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.loans-header h2 {
    font-size: 2.8rem;
    font-weight: 500;
    color: #372f24;
    flex: 0;
}

.loans-add-button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.4rem;
}

.loans-add-button img {
    width: 1.5rem;
    height: 1.5rem;
}

.loans-table-container {
    flex: 1;
}

.loans-page-menu .table-container {
    overflow: hidden;
    position: relative;
}

.loans-page-menu .table-container table::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
}
