.loans-page {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    margin-top: 5rem;
    padding: 2rem 4rem;
    height: calc(100vh - 5rem);
}

.loans-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.loans-header h2 {
    font-size: 2.8rem;
    font-weight: 500;
    color: #372f24;
    flex: 0;
}

.loans-add-button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.4rem;
}

.loans-add-button img {
    width: 1.5rem;
    height: 1.5rem;
}

.loans-filters-card {
    display: flex;
    flex-flow: column nowrap;
    padding: 1.5rem;
    background: linear-gradient(0deg, rgba(126, 87, 0, 0.05), rgba(126, 87, 0, 0.05)), #fffbff;
    box-shadow: 0px 2.32778px 4.65556px rgba(0, 0, 0, 0.3), 0px 4.65556px 13.9667px 4.65556px rgba(0, 0, 0, 0.15);
    border-radius: 1.75rem;
    flex: 0;
}

.loans-filters-card h3 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #1f1b16;
    line-height: 1.75rem;
}

.loans-filters-inputs {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    gap: 1.2rem;
    padding: 1.5rem;
}

.loan-select-container {
    flex: 1 1;
    min-width: fit-content;
    max-width: 20rem;
}

.loan-button-container {
    flex: 0;
}

.loans-table-container {
    flex: 1;
}
