.load-status-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.load-status-container img {
    width: 2.8rem;
    height: auto;
}

.load-status-container p {
    color: #34302a;
    font-weight: 500;
    line-height: 1.5rem;
}
