.state-dialog-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 25rem;
    font-size: 1rem;
}

.state-dialog-container img {
    width: 3.5rem;
    height: 3.5rem;
}

.state-dialog-container h3 {
    font-size: 1.5em;
    font-weight: 500;
    color: #1f1b16;
    line-height: 1em;
}

.state-dialog-container p {
    font-size: 0.85em;
    font-weight: 400;
    line-height: 1.25em;
    color: #4e4539;
    padding-bottom: 0.8em;
}

.state-dialog-details {
    width: 100%;
    align-self: flex-start;
    border-top: 1px solid rgb(210, 196, 180);
    padding: 1.5em 2em;
}

.state-dialog-details summary {
    font-size: 0.88em;
    line-height: 1.5em;
    color: #4e4539;
    cursor: pointer;
}
  
.state-dialog-details-content {
    margin-top: 0.5em;
    padding: 0.8em 2em;
    background-color: #EFE0CF;
    box-shadow: inset 0 4px 8px rgba(0,0,0,0.2);
    overflow: auto;
    max-height: calc(100vh - 40rem);
}

.state-dialog-buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: flex-end;
    gap: 0.8em;
    padding-right: 0.8em;
    align-self: flex-end;
}

.state-dialog-buttons button {
    border: none;
    border-radius: 0.6em;
    font-size: 0.8em;
    font-weight: 500;
    color: #8d4f00;
    padding: 0.5em;
    background-color: transparent;
    cursor: pointer;
}
