<div
    [class]="{ container: true, 'container-form': formVariant, 'container-active': active }"
    tabindex="0"
    (click)="active = true"
    (keydown.enter)="active = false"
>
    <div class="input">
        <div class="header">
            <div class="name">
                {{ label }}
            </div>
            <input
                type="text"
                class="selected-option"
                [name]="name"
                [placeholder]="placeholder"
                [required]="required"
                [value]="generateInputValue()"
            />
        </div>
        <button (click)="handleClearButtonClick($event)">
            <img src="../../../assets/cancel_icon.svg" alt="redefinir"/>
        </button>
    </div>
    <div *ngIf="active" class="item-list-container">
        <ul class="item-list">
            <li
                *ngFor="let option of options; index as index"
                class="click-ripple-effect-light"
                [class.item-selected]="selectedIndexes.includes(index)"
                (click)="handleOptionClick($event, index)"
            >
                {{ option }}
            </li>
        </ul>
    </div>
</div>