.textarea-container {
    display: flex;
    flex-flow: column nowrap;
    font-size: 1rem;
    position: relative;
}

.textarea-container label {
    position: absolute;
    top: 0.3em;
    left: 1em;
    font-size: 0.8em;
    z-index: 1;
    color: #1f1b16;
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.textarea-container-active label {
    color: #4e4539;
}

.textarea-container-error label {
    color: #ba1a1a;
}

.textarea-container-active .textarea-container-error label {
    color: #ba1a1a;
}

.textarea-control {
    display: flex;
    flex-flow: row nowrap;
    background-color: #EFE0CF;
    border-radius: 0.25rem 0.25rem 0 0;
    position: relative;
    padding-right: 0.75em;
}

.textarea-control textarea {
    border: none;
    outline: none;
    background: none;
    font-size: 1em;
    padding: 1.5em 1em 0.5em 1em;
    flex: 1 1;
    resize: none;
}

.textarea-control-error textarea {
    color: #ba1a1a;
}

.textarea-control::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    pointer-events: none;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.textarea-control-error::before {
    border-bottom: 1px solid rgba(186, 26, 26, 0.42);
}

.textarea-container-active .textarea-control::before {
    border-bottom: 1px solid rgba(0, 0, 0, 0.87);
}

.textarea-control::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border-bottom: 2px solid rgba(78, 69, 57, 0.8);
    transform: scaleX(0);
    pointer-events: none;
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.textarea-control-error::after {
    border-bottom: 2px solid rgba(186, 26, 26, 0.8);
}

.textarea-container-active .textarea-control::after {
    transform: scaleX(1);
}

.textarea-control button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.textarea-control button:hover {
    filter: brightness(125%);
}

.textarea-control button:focus {
    filter: brightness(150%);
}

.textarea-control button:active {
    filter: brightness(80%);
}

.textarea-control img {
    width: 1.5em;
    height: auto;
    flex: 0;
}

.textarea-support {
    padding: 0.5em 1em 0 1em;
    font-size: 0.75em;
    color: #4e4539;
}

.textarea-error-message {
    padding: 0.5em 1em 0 1em;
    font-size: 0.75em;
    color: #ba1a1a;
}
