.spinner {
    animation: spinner-rotation 1.5s linear infinite;
}

@keyframes spinner-rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

.spinner-circle {
    stroke-dasharray: 188;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: spinner-dash-draw 1.5s ease-in-out infinite;
}


@keyframes spinner-dash-draw {
    0% {
        stroke-dashoffset: 188;
        transform: rotate(0);
    }

    50% {
      stroke-dashoffset: 47;
      transform: rotate(135deg);
    }

    100% {
      stroke-dashoffset: 187;
      transform: rotate(450deg);
    }
}
