<div class="page-container">
    <div class="header">
        <h2>Acervo</h2>
        <app-button>
            <div class="add-button">
                <img src="assets/add_icon.svg" alt="adicionar"/>
                <span>Novo livro</span>
            </div>
        </app-button>
    </div>
    <app-collection-inputs/>
    <app-table-card>
        <thead>
            <tr>
                <th>ISBN</th>
                <th>Título</th>
                <th>Autor(es)</th>
                <th>Categorias</th>
                <th>Editora</th>
                <th>Edição</th>
                <th>Formato</th>
                <th>Data</th>
                <th>Páginas</th>
                <th>Cópias</th>
                <th>Descrição</th>
                <th>Localização</th>
            </tr>
        </thead>
        <app-table-status
            *ngIf="booksLoading || errorLoading || books.length === 0; else booksData"
            [loading]="booksLoading"
            [error]="errorLoading"
            [message]="statusMessage"
        />
        <ng-template #booksData>
            <tbody>
                <tr
                    *ngFor="let book of books; index as index"
                    (click)="handleRowClick($event, index)"
                >
                    <td>{{book.isbn}}</td>
                    <td minWidth="15rem" [wrap]="true">{{book.title}}</td>
                    <td [wrap]="true">{{book.author}}</td>
                    <td minWidth="12rem" [wrap]="true">{{book.categories}}</td>
                    <td>{{book.publisher}}</td>
                    <td>{{book.edition}}</td>
                    <td>{{book.format}}</td>
                    <td>{{book.date}}</td>
                    <td>{{book.pages}}</td>
                    <td>{{book.copies}}</td>
                    <td minWidth="20rem" [wrap]="true">{{book.description}}</td>
                    <td>{{book.location}}</td>
                </tr>
            </tbody>
        </ng-template>
    </app-table-card>
    <app-context-menu
        *ngIf="showContextMenu"
        [position]="contextMenuPosition"
        (menuClose)="handleContextMenuClose($event)"
    />
</div>
